@import "../../../variables";

footer{
    display: flex;
    flex-direction: column;
    gap: 134px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 135px;
    margin-bottom: 30px;

    .information {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .interno-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 31px;
            width: 393px;

            .subcontent {
                display: flex;
                flex-direction: column;
                gap: 18px;

                img {
                    width: 177px;
                    object-fit: cover;
                }

                h3 {
                    font-family: $common-writing-font;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 33px;
                    color: $second-text-color;
                }
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 54px;
            }
        }

        .pages-footer {
            width: 125px;
        }

        .service-footer {
            width: 120px;
        }

        .pages-footer,
        .service-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 9px;

            h2 {
                font-family: $header-font;
                font-weight: 400;
                font-size: 25px;
                line-height: 31px;
                color: $text-color;
            }

            .link {
                font-family: $common-writing-font;
                font-weight: 400;
                font-size: 22px;
                line-height: 66px;
                color: $second-text-color;
                text-decoration: none;
            }
        }

        .contact-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 26px;
            width: 258px;

            h2 {
                font-family: $header-font;
                font-weight: 400;
                font-size: 25px;
                line-height: 31px;
                color: $text-color;
            }

            .address,
            .email,
            .phone-number {
                font-family: $common-writing-font;
                font-weight: 400;
                font-size: 22px;
                line-height: 33px;
                color: $second-text-color;
            }
        }
    }

    .copyright {
        font-family: "Jost";
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: $second-text-color;
        border-top: 1px solid #E5E5E5;
        display: flex;
        width: 100%;
        height: 73px;
        align-items: flex-end;
        justify-content: center;
    }
}