@import "../../../../../variables";

.result {
  display: flex;
  gap: 82px;
  margin-top: 150px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .content-button {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 11px;

      h2 {
        font-family: $header-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;
        color: $text-color;
      }

      h3 {
        font-family: $common-writing-font;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: $second-text-color;
      }
    }

    button {
      width: 219.14px;
      background-color: $text-color;
    }
  }
}
