@import '../../../variables';
.login-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $background-color;
  border-radius: 70px;
  margin-top: 135px;
  gap: 16px;
  padding: 70px 70px;
  h1 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $text-color;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
      width: 500px;
      border-bottom: 1px solid #afacac;
      padding: 12px 0;
      font-family: $common-writing-font;
      font-weight: 400;
      font-size: 25px;
      line-height: 33px;
      color: $second-text-color;

      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-family: $common-writing-font;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: $second-text-color;
        width: 100%;
      }
    }
    p {
      font-family: $common-writing-font;
      font-weight: 500;
      font-size: 20px;
      line-height: 33px;
      color: orangered;
    }
    button {
      background: $text-color;
      width: 250px;
      margin-top: 41px;
      font-size: 25px;
    }
  }
  .no-account {
    display: flex;
    flex-direction: row;
    font-family: $common-writing-font;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: $second-text-color;
    gap: 10px;
    margin-top: 13px;

    nav {
      margin-top: 0;

      .register {
        font-family: $common-writing-font;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: $second-text-color;
        text-decoration: none;
      }
    }
  }
}
