@import "../../../../../../src/variables";

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: $background-color;
    padding: 138px 0;
    margin-top: 168px;

    .middle-counter {
        display: flex;
        width: 77%;
        gap: 110px;

        .texts-line {
            display: flex;
            gap: 111px;
            width: 37%;

            .line {
                border: 1px solid $counter-text-color;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: center;


                .number {
                    font-family: $header-font;
                    font-weight: 400;
                    font-size: 85px;
                    line-height: 125%;
                    color: $counter-text-color;
                    margin-block-start: 0;
                    margin-block-end: 10px;
                }

                .text {
                    font-family: $common-writing-font;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 150%;

                }

            }
        }
    }
}