@import '../../../variables';

.register-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $background-color;
  border-radius: 70px;
  margin-top: 135px;
  gap: 16px;

  h1 {
    font-family: $header-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.01em;
    color: $text-color;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    label {
      width: 500px;
      border-bottom: 1px solid #afacac;
      padding: 12px 0;
      font-family: $common-writing-font;
      font-weight: 400;
      font-size: 25px;
      line-height: 33px;
      color: $second-text-color;

      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-family: $common-writing-font;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: $second-text-color;
      }
    }
    button {
      background: $text-color;
      width: 250px;
      margin-top: 41px;
      font-size: 20px;
    }
  }
}
