@import '../../../../../variables';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

  .categories {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $counter-text-color;
    border-radius: 18px;

    button {
      color: $text-color;
      padding: 26px 66px;
      border: 1px solid transparent;
    }
  }
}
