@import '../../../variables';
.blog-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 57px;
  .info-part {
    display: flex;
    flex-direction: column;
    max-width: 804px;
    align-items: flex-start;

    .images {
      max-width: 800px;
      border-radius: 50px;
      height: 540px;
      object-fit: cover;
    }
    .last-images {
      max-width: 800px;
      border-radius: 50px;
      object-fit: cover;
    }
    h3 {
      font-family: $header-font;
      font-size: 50px;
      font-weight: 400;
      line-height: 63px;
      letter-spacing: 0.02em;
      line-height: 125%;
      letter-spacing: 0.02em;
      color: $text-color;
      margin-left: 0;
    }

    .date-elements {
      display: flex;
      flex-direction: row;
      gap: 409px;
      p {
        font-family: $common-writing-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        color: $second-text-color;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-family: $common-writing-font;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
      letter-spacing: 0.01em;
      text-align: left;
      color: $second-text-color;
    }
    .sprints-info-part {
      p {
        font-family: $common-writing-font;
        font-size: 22px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-align: left;
        color: $second-text-color;
      }
      .new-paragraph {
        margin-top: 30px;
      }
      img {
        margin-top: 44px;
      }
      .list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
        margin-top: 24px;
      }
    }
    .reply-part {
      margin-top: 93px;
      display: flex;
      flex-direction: column;
      gap: 58px;
      width: 100%;
      h2 {
        font-family: $header-font;
        font-size: 30px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.02em;
        text-align: left;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 42px;

        p {
          font-family: $common-writing-font;
          font-weight: 400;
          font-size: 18px;
          line-height: 33px;
          color: orangered;
          text-align: center;
        }

        label {
          width: 100%;
          border-bottom: 1px solid #afacac;
          font-family: $common-writing-font;
          font-weight: 400;
          font-size: 22px;
          line-height: 33px;
          color: $second-text-color;

          input {
            background-color: transparent;
            outline: none;
            border: none;
            font-family: $common-writing-font;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            color: $second-text-color;
            width: 100%;
          }
        }
        .reply {
          padding-bottom: 130px;
          width: 100%;
          border-bottom: 1px solid #afacac;
          font-family: $common-writing-font;
          font-weight: 400;
          font-size: 22px;
          line-height: 33px;
          color: $second-text-color;

          input {
            background-color: transparent;
            outline: none;
            border: none;
            font-family: $common-writing-font;
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            color: $second-text-color;
            
          }
        }

        .input-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          border: none;
          .checkbox {
            display: inline-block;
            width: 17px;
            height: 17px;
            border: 2px solid #cda274;
            border-radius: 3px;
            accent-color: #cda274;
          }
          span {
            font-family: $common-writing-font;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 125%;
            letter-spacing: 0.02em;
            color: #cda274;
          }
        }
        button {
          width: 220.14px;
          height: 75px;
          background: #292f36;
        }
      }
    }
  }
  .searching-part {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    form {
      width: 344.93px;
      height: 101px;
      background: $background-color;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding: 33px;
      justify-content: space-between;
      font-family: $common-writing-font;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: $counter-text-color;
      .search-input {
        outline: none;
        border: none;
        font-family: $common-writing-font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $counter-text-color;
        background-color: transparent;
        &::placeholder {
          color: $counter-text-color;
        }
      }
      button {
        background-color: transparent;
        border: none;
      }
    }
    .latest-news-part {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 33px;
      .subhead {
        font-family: $header-font;
        font-size: 30px;
        font-weight: 400;
        line-height: 31.5px;
        letter-spacing: 0.02em;
        text-align: left;
      }
      .news-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 34px;
      }
    }
    .tags-part {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      gap: 24px;
      p {
        font-family: $header-font;
        font-size: 25px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0.02em;
        text-align: left;
        color: $text-color;
      }
      .tags-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        button {
          border: none;
        }

        .link {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 9px 30px;
          gap: 10px;
          width: 193px;
          height: 41px;
          background: #f4f0ec;
          border-radius: 10px;
          font-family: $common-writing-font;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 125%;
          text-align: center;
          text-decoration: none;
          color: $text-color;

          &:hover {
            background-color: $text-color;
            color: white;
          }
        }
      }
    }
  }
}
